import React from 'react';
const {PropTypes} = React;

const <%= componentName %> = props => (
  <%- fixJsx(data_clean.attrs) %>
);

<%= title %>.propTypes = {
  icon: PropTypes.string.isRequired,
};

export default <%= componentName %>;