import React from 'react';
const {PropTypes} = React;

const <%= component %> = props => (
  <%- data %>
);

<%= component %>.propTypes = {
  icon: PropTypes.string.isRequired,
};

export default <%= component %>;