<template>
	<%- data %>
</template>
<script>
export default {
	name: '<%= component %>',
	props: {
		width: {
			type: Number,
			default: 32
		},
		height: {
			type: Number,
			default: 32
		},
		color: {
			type: String,
			default: currentColor
		}
	}
};
</script>
